/target/
src/main/resources/dbconnection.properties
.project
.settings/org.eclipse.jdt.apt.core.prefs
.vscode/settings.json
.settings/org.eclipse.jdt.core.prefs
src/main/resources/dbconnection.properties
